<ng-container *ngIf="isAuthenticated; else unauthenticatedInvoiceDetail">
  <dtl-contract-selector
    (selected)="contractSelected($event)"
  ></dtl-contract-selector>
  <dtl-range-selector
    [(range)]="range"
    (search)="updateTables()"
    [autoSearch]="true"
  ></dtl-range-selector>

  <dtl-invoice-configuration
    [(data)]="invoiceConfiguration"
  ></dtl-invoice-configuration>

  <ng-container *ngIf="configuration && prices && charges && consumption">
    <div class="invoice-detail">
      <dtl-pvpc-invoice-detail
        [range]="range"
        [invoiceConfiguration]="invoiceConfiguration"
        [configuration]="configuration"
        [prices]="prices"
        [charges]="charges"
        [consumption]="consumption"
      ></dtl-pvpc-invoice-detail>
    </div>

    <p i18n="@@invoice-simulator.check-hourly-details">
      You can also check the hourly detailed consumption and PVPC electricity
      price:
    </p>

    <mat-accordion multi>
      <mat-expansion-panel
        expanded="false"
        *ngIf="isAuthenticated"
        (opened)="consumptionPanelOpened = true"
        (closed)="consumptionPanelOpened = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ng-container i18n="@@invoice-simulator.panels.consumption">
              Consumption
            </ng-container>
            <ng-container *ngIf="consumptionPanelOpened && consumption.unit">
              ({{consumption.unit}})
            </ng-container>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <dtl-datetime-values-table
          [values]="consumption.consumption"
          [unit]="consumption.unit"
          totalDisplay="sum"
          valueFormat="1.0-2"
          valueTooltipFormat="1.0-5"
          [footer]="true"
          [totalUnit]="!mobile"
        ></dtl-datetime-values-table>
      </mat-expansion-panel>

      <mat-expansion-panel
        expanded="false"
        (opened)="pricesPanelOpened = true"
        (closed)="pricesPanelOpened = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ng-container i18n="@@invoice-simulator.panels.prices">
              Prices
            </ng-container>
            <ng-container *ngIf="pricesPanelOpened && prices.unit">
              ({{prices.unit}})
            </ng-container>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <dtl-datetime-values-table
          [values]="prices.prices"
          [unit]="prices.unit"
          totalDisplay="mean"
          [footer]="true"
          [totalUnit]="!mobile"
        ></dtl-datetime-values-table>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ng-container>

<ng-template #unauthenticatedInvoiceDetail>
  <mat-card class="login-warning-card">
    <span i18n="@@invoice-simulator.login-warning">
      You must
      <a
        [routerLink]="loginLink"
        [relativeTo]="loginLinkRelative"
        class="login-link"
        >login</a
      >
      in order to get an invoice simulation
    </span>
  </mat-card>
</ng-template>
