<p i18n="@@info.personal-use">
  This application was designed only for personal use.
</p>
<p i18n="@@info.scope-ide">
  The scope of it is limited only to already registered users for the
  <a href="https://www.i-de.es/" target="_blank">i-DE</a> company (electrical
  distributor in Spain), with no relations or vinculations whatsover with this
  company. <br />
  The credentials used in this application are only to login to these external
  services, and are <b>not stored</b> in any server, database or similar
  storage, beyond the session in your own private browser. <br />
  The information retrieved are limited to the hourly consumption as detected by
  your electricity meter.
</p>

<p i18n="@@info.scope-ree">
  The hourly pricing used in this application is retrieved online from the
  <a href="https://www.esios.ree.es/es/pvpc" target="_blank"
    >Red Eléctrica de España</a
  >
  website.
</p>

<p i18n="@@info.source-code">
  The source code for this application can be found in
  <a href="https://github.com/jojojox2/detalluz" target="_blank">GitHub</a>.
</p>

<p i18n="@@info.created-by">
  Created by <b><i>jojojox2</i></b>
</p>
